body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://c4.wallpaperflare.com/wallpaper/949/145/121/soccer-brazil-national-football-team-brazil-emblem-wallpaper-preview.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
}

section {
    padding: 20px;
    text-align: center;
}

.caixa-de-texto {
    background-color: #333; /* Alterado para cinza escuro */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: justify;
}
